@model List<Evimden.CoreLayer.DTOs.CargoDTOs.ShipperDto>

@{
    ViewData["Title"] = "Göndericiler Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Göndericiler</h1>

<a href="@Url.Action("AddShipper")">Yeni Gönderici Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>Gönderici Adı</th>
            <th>Telefon Numarası</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shipper in Model)
        {
            <tr>
                <td>@shipper.ShipperName</td>
                <td>@shipper.PhoneNumber</td>
                <td>
                    <a href="@Url.Action("GetShipper", new { id = shipper.ShipperId })">Görüntüle</a> |
                    <a href="@Url.Action("UpdateShipper", new { id = shipper.ShipperId })">Düzenle</a> |
                    <a href="@Url.Action("DeleteShipper", new { id = shipper.ShipperId })" onclick="return confirm('Bu göndericiyi silmek istediğinizden emin misiniz?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
