@model List<Evimden.CoreLayer.DTOs.OrderDTOs.OrderDto>

@{
    ViewData["Title"] = "Siparişler";
}

<h1>Siparişler</h1>

<table class="table">
    <thead>
        <tr>
            <th>Sipariş ID</th>
            <th>Kullanıcı ID</th>
            <th>Ürün ID</th>
            <th>Sipariş Durumu</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.UserId</td>
                <td>@order.ProductId</td>
                <td>@order.OrderStatus</td>
                <td>
                    <a href="@Url.Action("GetOrder", new { id = order.OrderId })">Detaylar</a> |
                    <a href="@Url.Action("UpdateOrder", new { id = order.OrderId })">Düzenle</a> |
                    <a href="@Url.Action("DeleteOrder", new { id = order.OrderId })">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddOrder")" class="btn btn-primary">Yeni Sipariş Ekle</a>
